<!DOCTYPE html>
<html>
  <head>
    <title>Simple Status Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .pure-g > div {
          box-sizing: border-box;
      }
      .l-box {
          padding: 5em;
      }
      td {
        padding-top:20px;
        padding-bottom:20px;
        padding-right:20px;
        text-align: center;
        font-size: 35px;   
      }
  </style>
  </head>
  <body>
  <h1 class="header">Simple Status Dashboard</h1>
  <div class="pure-g">
    <table class="table table-striped" id="status-table" width="100%">
      <thead>
        <tr>
          <th scope="col">Tail Number</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody id="status-table-body">
      </tbody>
    </table>
  </div>
  <script src="js/socket.io.min.js"></script>
  <script>
    var socket = io();

    socket.on("status", (msg) => {
      populateTable(msg);
    })

    function populateTable(data) {
      document.getElementById('status-table-body')
        .innerHTML = createTableRow(data);
    }

    function createTableRow(data) {

      let tRows = '';

      data.forEach(status => {
        if (status.status == false) {
          tRows += `<tr style="background-color:#ccff33">
            <td>${status.tail_number}</td>
            <td>Ready</td>
            </tr>`;
        } else {
          tRows += `<tr style="background-color:#ff3300">
            <td>${status.tail_number}</td>
            <td>Not Ready</td>
            </tr>`; 
        }
      })


      return tRows;

    }
    
  </script>
  </body>
</html>
